.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.column {
border: 1px solid;
margin:10px;
text-align: center;
padding: 5px;
flex-basis: 0;
height: 100px;
min-width: 130px;
  
}
.column:hover {
  /* background-color: var(--blue);
  color: var(--white); */
}
