<header>MY Company</header>
<section>
  <nav>
    <ul>
      <li [routerLink]="['/user']" >
        {{ 'Users' | userpipe }}
      </li>
      <li [routerLink]="['/adduser']">Add User</li>
      <li [routerLink]="['/dynamiccomp']">Dynamic Component</li>
      <li [routerLink]="['/dynamicform']">Dynamic Form</li>
      <li [routerLink]="['/experimentaluser']">Experimental Users</li>
      <br />
      <li [routerLink]="['/products']">DI Use Factory</li>
    </ul>
  </nav>
  <!--here checking angular 14 extended diagonistic -->
  <!-- <input [(ngModel)]="title" />
    {{ title??'testing' }} 
  {{ title }} -->
  <!-- <ng-container *ngIf="meta && data">
  <app-dynamic-form [meta]="meta" [data]="data"></app-dynamic-form>
 </ng-container> -->

  <router-outlet></router-outlet>
</section>
